Repository dragonsea0927/django-react-boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, missing-migrations

eslint:
  name: eslint-local
  entry: npm run lint
  language: system
  pass_filenames: true

missing-migrations:
  name: missing-migrations-local
  entry: poetry run python backend/manage.py makemigrations --check
  language: system
  pass_filenames: false

Improve startproject command
  .github/workflows/shared-build/action.yml
  CONTRIBUTING.md
  README.md
Due: none

Fix ruff in action.yml
  .github/workflows/shared-build/action.yml
Due: none

Use const
  webpack.config.js
Due: none

Fix source-map
  webpack.config.js
Due: none

Small fix on regex of WEBPACK_LOADER
  backend/project_name/settings/base.py
Due: missing-migrations

Rename master to main in other files
  .github/workflows/deploy.yml
  .github/workflows/nightly.yml
  README.md
Due: none

Fixes for Render
  .github/workflows/shared-build/action.yml
  README.md
  backend/Dockerfile
  frontend/Dockerfile
  package.json
  proj_main.yml
  pyproject.toml
  render.yaml
  render_build.sh
Due: none

Fix formatting
  README.md
Due: none

Fix README formatting
  README.md
Due: none

Upgrade django-webpack-loader to 3.0.0
  package.json
  pyproject.toml
  render_build.sh
  webpack.config.js
Due: none

Improve README
  README.md
Due: none

Upgrade dependencies
  README.md
  backend/project_name/settings/base.py
  backend/project_name/wsgi.py
  package.json
  pyproject.toml
Due: missing-migrations

Fix Celery command and upgrade Node in Docker
  README.md
  backend/common/management/__init__.py
  backend/common/management/commands/__init__.py
  backend/common/management/commands/celery.py
  docker-compose.yml
  frontend/Dockerfile
Due: none

Fix Python 3.12 compat with setuptools
  pyproject.toml
Due: none

Update README to include warning about using on_commit on implicit request transactions
  README.md
Due: none

Improve README.md transaction.on_commit explanation
  README.md
Due: none

Fix command
  README.md
Due: none

Add django-permissions-policy to the project
  backend/project_name/settings/base.py
  pyproject.toml
Due: missing-migrations

Remove unrecognized feature from setting
  backend/project_name/settings/base.py
Due: missing-migrations

Update README.md
  README.md
Due: none

Update docker command
  README.md
Due: none

Apply recommended Celery Django settings for reliability
  backend/project_name/settings/base.py
  backend/project_name/settings/production.py
  render.yaml
Due: missing-migrations

Fix setting name
  README.md
  backend/project_name/settings/base.py
Due: missing-migrations

Remove TASK_HTTP settings
  backend/project_name/settings/base.py
  render.yaml
Due: missing-migrations

Add django-csp to the project
  backend/project_name/settings/base.py
  backend/project_name/settings/local_base.py
  pyproject.toml
Due: missing-migrations

Add notes about django-csp in README
  README.md
Due: none

Add django-defender to the project
  README.md
  backend/project_name/settings/base.py
  backend/project_name/settings/local_base.py
  backend/project_name/settings/production.py
  backend/project_name/urls.py
  backend/templates/defender/lockout.html
  docker-compose.yml
  pyproject.toml
Due: missing-migrations

Address code review notes
  README.md
  backend/.env.example
  backend/project_name/settings/base.py
  backend/project_name/settings/local_base.py
  backend/project_name/settings/production.py
  proj_main.yml
Due: missing-migrations

Add django-upgrade to pre-commit
  .pre-commit-config.yaml
  backend/project_name/settings/base.py
  backend/project_name/settings/local_base.py
  backend/project_name/settings/production.py
  backend/project_name/settings/test.py
  backend/project_name/urls.py
  backend/users/admin.py
Due: missing-migrations

Add django-guid to the project
  README.md
  backend/project_name/settings/base.py
  backend/project_name/settings/local_base.py
  backend/project_name/settings/production.py
  pyproject.toml
Due: missing-migrations

Update "Setup Redis" section to mention CELERY_BROKER_URL
  README.md
  backend/project_name/settings/local_base.py
Due: missing-migrations

Update scripts to use Compose V2 by replacing the hyphen (-) with a space, using docker compose instead of docker-compose
  Makefile
Due: none

Add drf-spectacular to the project
  Makefile
  README.md
  backend/common/utils/tests.py
  backend/common/views.py
  backend/project_name/settings/base.py
  backend/project_name/urls.py
  backend/users/routes.py
  backend/users/serializers.py
  backend/users/tests/test_views.py
  backend/users/views.py
  pyproject.toml
Due: missing-migrations

Add pre-commit hook to check/update backend schema
  .pre-commit-config.yaml
Due: none

Fix action
  proj_main.yml
Due: none

Add TypeScript to the project
  .editorconfig
  .eslintrc.js
  .swcrc
  README.md
  babel.config.json
  frontend/assets/images/index.d.ts
  frontend/js/App.tsx
  frontend/js/constants/index.js
  frontend/js/constants/index.ts
  frontend/js/index.tsx
  frontend/js/pages/Home.tsx
  frontend/js/pages/__tests__/Home.spec.tsx
  frontend/js/routes/index.js
  frontend/js/routes/index.ts
  frontend/js/store/api.ts
  frontend/js/store/index.js
  frontend/js/store/index.ts
  frontend/js/store/reducers.ts
  frontend/js/store/rest_check.ts
  frontend/js/types/index.d.ts
  frontend/js/utils/index.js
  frontend/js/utils/index.ts
  frontend/js/utils/urls.ts
  jest.config.js
  jest.setup.js
  package.json
  tsconfig.json
  webpack.config.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)^(
  .+\.config\.js|
  .+\.setup\.js|
  \.eslintrc\.js
)$

  missing-migrations: any of: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
